<section ng-controller="HomeController">
  <h1 class="text-light">Dashboard <span class="mif-home place-right"></span></h1>
  <hr class="thin bg-grayLighter">
  <div class="flex-grid">
    <div class="row flex-dir-row flex-wrap cells3">
      <div class="cell auto-size">
        <div class="row">
          <div class="fb-ad" data-placementid="1689869297943320_1690652044531712" data-format="300x250" data-testmode="false"></div>
        </div>
      </div>
      <div ng-show="nodes" class="cell auto-size">
        <div class="row">
          <button class="command-button {{inetbtn.class}}" ng-click="inetbtn.class==='success'?startInet():stopInet()">
            <span class="icon {{inetbtn.mif}}"></span>
            {{inetbtn.caption}}
            <small>{{inetbtn.text}}</small>
          </button>
          <span>{{vm.response}}</span>
        </div>
      </div>
      <div class="cell auto-size">
        <div class="row">
          <div class="fb-ad" data-placementid="1689869297943320_1690658904531026" data-format="300x250" data-testmode="false"></div>
        </div>
      </div>
    </div>
  </div>
</section>
