<section ng-controller="HomeController">
  <h1 class="text-light">Dashboard <span class="mif-home place-right"></span></h1>
  <hr class="thin bg-grayLighter">
  <div class="flex-grid">
    <div class="row flex-dir-row flex-wrap cells">
      <div class="cell auto-size">
        <div class="row flex-just-center">
          <button class="command-button {{inetbtn.class}}" ng-click="inetbtn.class==='success'?startInet():stopInet()">
            <span class="icon {{inetbtn.mif}}"></span>
            {{inetbtn.caption}}
            <small>{{inetbtn.text}}</small>
          </button>
          <span>{{vm.response}}</span>
        </div>
      </div>
    </div>
  </div>
</section>
