<section>
  <form name="vm.passwordForm" ng-submit="vm.changeUserPassword(vm.passwordForm.$valid)" class="signin" novalidate autocomplete="off">
    <div class="flex-grid grid flex-content-center">
      <div class="row flex-dir-row flex-wrap cells2">
        <div class="row">
          <div class="form-group cell size6" show-errors>
            <div class="row">
              <label for="currentPassword" class="text-accent">Current Password</label>
            </div>
            <div class="row">
              <div class="input-control email full-size">
                <input type="password" id="currentPassword" name="currentPassword" class="form-control" ng-model="vm.passwordDetails.currentPassword" placeholder="Current Password" required>
              </div>
            </div>
            <div class="row">
              <div ng-messages="vm.passwordForm.currentPassword.$error" role="alert">
                <span class="help-block error-text fg-crimson" ng-message="required">Your current password is required</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group cell size6" show-errors>
            <div class="row">
              <label for="newPassword" class="text-accent">New Password</label>
            </div>
            <div class="row">
              <div class="input-control password full-size">
                <input type="password" id="newPassword" name="newPassword" class="form-control" ng-model="vm.passwordDetails.newPassword" placeholder="New Password" data-role="popover" data-popover-position="bottom" data-popover-text="{{vm.getPopoverMsg()}}" data-popover-background="bg-red" data-popover-color="fg-white" data-popover-mode="focus" password-validator required>
              </div>
            </div>
            <div class="row">
              <div ng-messages="vm.passwordForm.newPassword.$error" role="alert">
                <span class="help-block error-text fg-crimson" ng-message="required">Enter a new password</span>
                <div ng-repeat="passwordError in passwordErrors">
                  <span class="help-block error-text" ng-show="vm.passwordForm.newPassword.$error.requirements">{{passwordError}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group cell size6" show-errors>
            <div class="row">
              <label for="verifyPassword" class="text-accent">Verify Password</label>
            </div>
            <div class="row">
              <div class="input-control email full-size">
                <input type="password" id="verifyPassword" name="verifyPassword" class="form-control" ng-model="vm.passwordDetails.verifyPassword" placeholder="Verify Password" required>
              </div>
            </div>
            <div class="row">
              <div ng-messages="vm.passwordForm.verifyPassword.$error" role="alert">
                <span class="help-block error-text fg-crimson" ng-message="required">Enter a new password</span>
                <div ng-repeat="passwordError in passwordErrors">
                  <span class="help-block error-text" ng-show="vm.passwordForm.newPassword.$error.requirements">{{passwordError}}</span>
                  <span class="help-block error-text" ng-show="vm.passwordForm.verifyPassword.$error.passwordVerify">Passwords do not match.</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group cell size6" ng-show="!vm.passwordForm.newPassword.$error.required">
            <label>Password Requirements</label>
            <div data-value="{{requirementsProgress}}" class="progress" data-color="ribbed-amber" data-role="progress"><span class="small" style="color:white; white-space:nowrap;">{{requirementsProgress}}%</span></div>
          </div>
        </div>
        <div class="row">
          <div class="form-group input-control">
            <button type="submit" class="button primary form-control">Simpan Password</button>
          </div>
        </div>
        <div class="cell size12 padding10">
          <div ng-show="vm.success" class="fg-lightGreen">
            <strong>Password Changed Successfully</strong>
          </div>
          <div ng-show="vm.error" class="fg-crimson">
            <strong ng-bind="vm.error"></strong>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
