<div class="padding20 block-shadow">
  <form name="vm.userForm" ng-submit="vm.signin(vm.userForm.$valid)" class="signin form-horizontal" novalidate autocomplete="off" data-role="validator">
    <h1 class="text-light">Masuk idHotspot</h1>
    <hr class="thin"/>
    <br/>
    <div class="row align-center flex-just-center">
      <button class="image-button bg-darkBlue fg-white" ng-click="vm.callOauthProvider('/api/auth/facebook')">
        Masuk dengan akun Facebook
        <span class="icon mif-facebook bg-darkBlue"></span>
      </button>
    </div>
    <div class="row align-center flex-just-center">
      <span>or</span>
    </div>
    <div class="input-control modern text iconic">
      <input type="text" id="username" name="username" ng-model="vm.credentials.username" lowercase required>
      <span class="label">Username</span>
      <span class="informer">Silahkan masukkan username</span>
      <span class="placeholder">Username</span>
      <span class="icon mif-user"></span>
    </div>
    <br />
    <div class="input-control modern password iconic" data-role="input">
      <input type="password" id="password" name="password" ng-model="vm.credentials.password" required>
      <span class="label">Sandi</span>
      <span class="informer">Silahkan masukkan sandi</span>
      <span class="placeholder">Sandi</span>
      <span class="icon mif-lock"></span>
      <button class="button helper-button reveal"><span class="mif-looks"></span></button>
    </div>
    <br />
    <br />
    <div class="form-actions align-center">
      <button type="submit" class="button primary">Masuk</button>
    </div>

    <uib-alert type="danger" ng-show="vm.error" class="padding10 align-center fg-crimson">
      <span ng-bind="vm.error"></span>
    </uib-alert>
  </form>
  <div class="fb-ad" data-placementid="1689869297943320_1690668311196752" data-format="300x250" data-testmode="false"></div>
</div>
